body {
  background-color: #00BFF3;
  margin: 0;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: 40px;
  font-family: 'Roboto';
}

h1 {
  font-family: 'Roboto', medium;
}

p {
  font-family: 'Roboto';
}

.menu-items {
  float: right;
  margin: 30px;
  margin-top: 35px;
}

.logo {
  width: 11%;
  margin: 30px;
}

.white-text {
  color: white;
}

.indent {
  margin: 0 140px;
  padding: 0 40px;
}

.main-text {
  text-align: center;
  margin: 50px 0;
}

.box {
  height: 650px;
  width: 300px;
  background-color: white;
  display: inline-block;
  border-radius: 25px;
  margin: 50px 30px;
}

.box-container {
  margin: 50px auto;
  text-align: center;
}
